body {
    background: whitesmoke;
    color: whitesmoke;
    font-family: 'Comic Neue', 'Orbitron', sans-serif;
}
.ad {
    text-align: center;
    background: rgb(31, 179, 229);
    border: 5px solid darkblue;
    margin: 100px 400px;
}
.bye {
    border: 3px solid darkblue;
    padding: 5px 7px;
    background: rgb(122, 222, 255);
}